# Lambda config
LAMBDA_NAME=xergioalex-iot-api
LAMBDA_EVENT_NAME=xergioalex-iot-api

# AWS config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_DEFAULT_OUTPUT=json

# S3 config
S3_CLAUDA_UPLOADS=claudia-lambda-updates